
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


ul {
    display: flex;
    gap: 50px;
    font-weight: 600;
    list-style: none;
}

li:hover {
    color: #30B868;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: medium;
    background-color: #469165;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #30B868;
    color: white;
}


/* Hero section styles */
.hero-section {
   background-image: url('../assets/hero-bg.png');
   background-size: cover;
   background-position: center;
    height: 500px;
    text-align: center;
    padding: 50px;
}

.fa-play {
    color: transparent;
    -webkit-text-stroke: 2px white;
}
.fa-play:hover {
    color: transparent;
    -webkit-text-stroke: 2px #469165;
}

.hero-access {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    background-color: white;
    padding: 8px 13px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
}

.h-access-heading {
    font-size: small;
    font-weight: 600;
    color: green
}

.hero-access-img {
    width: 20px;
    height: 20px;
}


h1 {
    margin: 50px;
    font-size: 4em;
    color: white;
}
#structured-thinking {
    color:white;
}

#not-just-note-taking {
    color:#469165;
}

.h-paragraph {
    margin: 35px 300px;
    font-size: large;
    color: #ffffff;
}

#h-t-btn {
    border-color: white;
    border : 2px solid white;
    background-color: transparent;
    margin-left: 10px;
}

#h-t-btn:hover {
    background-color: white;
    color: #469165;
}

/* Note Section Styles */
.note-section {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.note-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000000;
}

.note-subheading {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #555555;
}

.note-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.note-img {
    width: 30px;
    height: 30px;
    background-color: orangered;
    padding: 12px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.c-heading {
    font-size: 1em;
    margin-bottom: 15px;
    color: #000000;

}
.c-paragraph {
    margin: 0 25px;
    font-size: 0.9em;
    color: #000000;

}


/* Second Brain Section Styles */
.second-brain-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f5ee;
    padding: 50px;
}

.sbs-img {
    margin-right: 50px;
}

.sbs-content {
    max-width: 400px;
}

.sbs-list
{
    display: flex;
    align-items: center;
}

.sbs-heading {
    font-size: 2em;
    margin: 15px 0;
}

.sbs-paragraph {
    font-size: 1em;
    text-align: justify;
    margin: 25px 0;
    color: #333333;
}

.sbs-features {
    margin: 10px;
}

/* Get Early Access Section Styles */
.get-early-access-section {
    text-align: center;
    padding: 50px;
    background-color: #F7F6F2;
    width: 70%;
    margin: 50px auto;
    border-radius: 15px;
}

.geas-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.geas-paragraph {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.geas-terms {
    font-size: 0.7em;
    color: #777777;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 20px auto;
    padding: 0;
}

#circle {
    color: #777777;
    background-color: #777777;
    width: 4px;
    height:4px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #001931;
    color: #fff;
    margin-top: 50px;
}

.footer-1st-part {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 100px;
    font-size: small;
}

.footer-heading {
    margin-top: 10px;
    font-size: 1.7em;
}
.fa-github, .fa-linkedin-in, .fa-facebook-f {
    margin: 20px 5px;
    cursor: pointer;
    font-size: 1.7em;
}

.fa-github, .fa-linkedin-in, .fa-facebook-f {
    color : black;
    background-color: white;
    padding: 8px 5px;
    border-radius: 30px;
}



hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 50px auto;
    width: 80%;
}